@charset "utf-8";

@media screen and ( max-width:550px) {
    /*　画面サイズが550pxまではここを読み込む　*/
	#chart .side-by-side{
		display: block;
	}
	.img-chart{
		padding: 80px 20px 0 20px;
	}
	#chart h4{
		padding-bottom: 25px;
	}
    #chart .exp div:last-child{
        border-bottom: solid 1px #eee;
    }
    #chart a{
        text-align: right;
        text-decoration: underline;
    }
    #chart a p{
        padding: 10px;
    }
}


@media screen and ( min-width:550px) and ( max-width:980px) {
    /*　画面サイズが550pxから980pxまではここを読み込む　*/
	#chart .side-by-side{
		display: block;
	}
	.img-chart{
		padding: 80px 120px 0 120px;
	}
	#chart h4{
		padding-bottom: 30px;
	}
    #chart .exp div{
		padding-right: 82px;
		padding-left: 82px;
	}
    #chart .exp div:last-child{
        border-bottom: solid 1px #eee;
    }
    #chart a{
        text-align: right;
        text-decoration: underline;
    }
    #chart a p{
        padding: 10px;
    }
}


@media screen and (min-width:980px) {
    /*　画面サイズが980pxからはここを読み込む　*/
	#chart .one-half{
		padding-top: 120px;
	}
    .one-half3{
        width: 55%;
        padding-top: 120px;
    }
	#chart table{
		padding-top: 10px;
		font-size: 16px;
	}
	#chart th{
		padding-top: 10px;
		width: 100px;
		text-align: left;
		color: #333;
	}
	#chart td{
		padding-top: 10px;
		text-align: left;
		color: #333;
	}
    #chart a{
        text-align: right;
        text-decoration: underline;
    }
}